body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    letter-spacing: 0.02em;
    line-height: 24px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h2,h3 {
    margin: 0;
}

.header-web {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    padding: 24px 0;
}

.header-studio {
    color: #2e2f42;
}

.footer-studio {
    color: #f4f4fd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-styles-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.nav-styles-link:hover,
.nav-styles-link:visited {
    color: #404bbf;
}

address {
    font-style: normal;
}

.link-adress {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.link-address:hover,
.link-address:visited {
    color: #404bbf;
}

.first {
    background-color: #2e2f42;
}

.header-style {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.button-style {
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button-style:hover,
.button-style:focus {
    background-color: #404bbf;
}

.third-header {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.heading-paragraph {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: calc((100% - 72px) / 4);
}

.second-section-list {
    display: flex;
    gap: 24px;
}

.second-header {
    color: #2e2f42;
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.our-team-section-style {
    background-color: #f4f4fd;
}

.team-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.our-team-header {
    color: #2e2f42;
    background-color: #ffffff;
    font-family: "Roboto", sans-serifv;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.our-team-third-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-team-paragraph {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

.our-portfolio-main-header {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.our-portfolio-third-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center
}

.our-portfolio-paragraph {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    width: calc((100% - 48px) / 3);
}

.footer-styles {
    background-color: #2e2f42;
}

.p-footer {
    color: #f4f4fd;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}

div {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.navigation {
    display: flex;
    align-items: center;

}

nav ul li a {
    padding: 24px 0;
}

.nav-style {
    display: flex;
    gap: 40px;
}

.nav-styles-link {
    padding: 24px 0;
}

.address-style {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

section.fourth div {
    flex-direction: column;
}

section.third div {
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}